body {
	background-color:rgb(224,224,224);
}

img.Top {
	position:relative;
	float:left;
	width:25%;
	margin:0px;
	padding:0px;
	height:225px; 
}

h1.Top{
	padding:20px 0px 20px 0px;
	font-size:30px;
	background-color:rgb(64,64,64);
	color:white;
	margin:0;
	
	text-align:center;
}

div.Top {
    position:absolute;
	top:83px;
	background:rgba(64,64,64,0.8);
/* 	border:red solid;     */
	width:99%;  
	height:227px;
	margin:0px;
	padding:0px;
}

h1.aboutus {
	position:relative;
	padding-top:2%;
	font-size:20px;
	color:white;
	margin:0;
	text-align:center;
/*	left:36%;  */
	width:100%;
/*	border:red solid; */
}

ul.nav{
	position:relative;
	width:550px;
	display:block;
	left:70px;  
/*	top:40px;  */
/*	background-color:black;  */
	list-style:none;
/*	overflow:ignore; */
	display:block;
/*	border:black solid;   */
	margin:35px auto auto auto;
}

li.nav {
	width:260px;
	height:50px;
	display:block;
	position:relative;
	float:left;
/*	border:blue solid;   */
	
}

input.search{
/*	font-size:1.1vw;  */
	font-size:18px;
/*	padding:1%;  */
	padding:8px 10px 8px 15px;
/*	width:15%;  */
	width:230px;
	height:30px;
	max-height:50px;
/*	border:solid red; */
}

button.search {
	font-size:18px;
	padding:8px 10px 8px 15px;
	width:120px;
	height:50px;
	background-color:black;
	color:white;
	border:0;
/*	border:red solid; */
}

div.pic {
	margin-top:3%;
	position:relative;
	float:left;
	left:15%;
	width:20%;
	height:20%;
/*	border:red solid; */
	background-color:white;
	margin-right:5%;
    margin-bottom:5%;
}

img.cat {
	margin:0%;
	padding-bottom:2%;
	width:100%; 
	height:25vh;
}

p.cat {
/*	position:relative;
	left:10%;
	*/
	font-weight:bold;
	text-align:center;
	font-size:1vw;
	padding:0.5%;
	left:10%;
}

div.pic2 {
	margin-top:3%;
	position:relative;
	float:left;
	left:15%;
	width:20%;
	height:20%;
/*	border:red solid; */
	background-color:white;
	margin-right:5%;
	clear:left;
}

div.End {
	position:relative;
	clear:both;
	top:50px;
	background-color:rgb(64,64,64);
/*	padding:1%;    */
    margin-bottom:10%;
/*	border:yellow solid;  */
	
}

p.End {
	text-align:center;
	font-size:18px;
	color:white;
    padding:3%
/*	border:yellow solid;  */
}
